
.zform-section {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    background-color: #fcfcfc;
	margin-bottom: 20px;

}

.zform-row {
	display: flex;
	flex-direction: row;

	.form-element {
		flex: 1 1 auto;
	}
}

.zform-tab-tags span.zform-tab-tag {
    padding: 8px 20px;
    border: 1px solid black;
    background-color: #f2f1ff;
    border-radius: 10px 10px 0 0;
    margin-right: 5px;
	color: #888888;
	
	&.current {
		border-bottom: none;
		color: #000000;
	}
}

.zform-tab {
    border: 1px solid black;
    padding: 10px;
    background-color: #f2f1ff;
	display: none;

	&.current {
		display: block;
	}
}