div#zlog {
	.logHead {
		margin: 11px 14px 0px;
		a {
			padding: 3px 5px 3px 9px; background: #bbb; border: 1px #444 solid; color: #fff; font-size: 16px; text-decoration: none; border-bottom: none;
			&.picked {
				padding: 3px 5px 4px 9px; color: #021b02;
			}
		}
	}
	.logTab {
		background: #bbb; padding: 5px; border: 1px solid black; display: none;margin: 0px 6px 10px;
		&#logTabparse {
			display: block;
		}
		.logTabLine {
			margin: 2px; border: 1px #888 solid; padding: 2px; font-size: 10px;  line-height: 1.1em;
			h4 {
				padding: 0px;
				margin: 0 0 3px 0;
				font-size: 13px;
				letter-spacing: 0;
				font-weight: normal;
			}
			pre {
				font-size: 13px;
				line-height: 14px;
				border: none;
				padding: 8px;
				margin-bottom: 10px;
				background-color: #fffff5cc;
				a {
					display: block;
				}
			}
		}
		.log-more-span {
			display: none;
		}
		.tags {
			span {
				margin: 0px;line-height: 22px;padding: 0px 4px;background-color: #bfffbb8c;
			}
		}
	}

}
