
.zsurvey-summary-table {
	.question {
		background: rgba(0,0,0,0.1);
		padding: 5px 10px;
		margin-bottom: 5px;
		border-radius: 5px;
		.question-text {
			font-size: 120%;
			padding: 10px 0 0;
		}
		
		.answer {
			background: #ffffffad;
			margin-bottom: 4px;
			padding: 2px 6px;
			position: relative;

			.answer-inner {
				position: absolute;
				height: 100%;
				top: 2px;
				left: 6px;
				
				span.count {
					font-size: 80%;
					color: rgba(0,0,0,0.7);
					margin-left: 10px;
				}
			}

			&.free-text .answer-inner {
				position: initial;
			}
			
			.percent-bar {
				position: absolute;
				height: 100%;
				background: rgba(0,255,0,0.2);
				top: 0px;
				left: 0px;
			}
		}
	}	
}

.stat-box {
	background-color: gray;
	display: inline-block;
	text-align: center;
	color: white;
	border-radius: 10px;
	padding: 14px;

	.stat {
		font-size: 60px;
		font-weight: bold;
		line-height: 60px;
	}
}

