@function svg($contents, $width, $height) {
	@return "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='"+$width+"' height='"+$height+"'>"+$contents+"</svg>";
}

@function svg-path($path, $color: black, $opacity: 1) {
	@return "<path d='" + $path + "' fill='" + $color + "' fill-opacity='" + $opacity + "' />";
}

@function caret($type, $color: black, $opacity: 1) {
	$points: "";
	@if $type == 'open' {
		$points: "M 0 6l 10 10l 1 0l 10 -10l -5 0l -5 5l -5 -5Z";
	} @else {
		$points: "M 6 0l 10 10l 0 1l -10 10l 0 -5l 5 -5l-5 -5Z";
	}
	$path: svg-path($points, $color, $opacity);
	@return svg($path, "21", "21");
}