body span.i18n-phrase.i18n-error, body div#zlog span.i18n-phrase.i18n-error {background-color:#ff0;}

.i18n-clickshield {background:rgba(0,0,0,0.4); position:fixed; width:100%; height:100%; top:0; left:0;}

.i18n-authoring-form {background:#ffffe0; border:2px solid #000; padding:10px; position:absolute; margin:auto; top:30%; left:20%; right:20%;}

.i18n-authoring-form h3 {margin:0 0 10px 0;}

.i18n-authoring-form input {width:80%;}

.i18n-authoring-form textarea {width:100%; height:60px;}

.i18n-authoring-form>div {margin-bottom:7px;}

.i18n-authoring-form .error {color:#8b0000; text-align:center; background:#ff0; border:1px solid red; padding:4px;}

.i18n-authoring-form span.i18n-key {background-color:rgba(0,0,0,0.2); padding:2px 8px; border-radius:3px; margin-right:5px;}
.i18n-authoring-form span.i18n-key:hover {background-color:rgba(0,0,0,0.8); color:#fff;}